/* @font-face {
    font-family: "Trade Gothic LT Bold";
    src: url("./fonts/TradeGothicLTLight.ttf") format("embedded-opentype");
} */

body {
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* background-color: #ffffff; */
    /* font-family: "Courier New", Courier, monospace; */
    font-family: "Roboto", sans-serif;
    color: white;
    /* background-color: darkgrey; */
}

.error {
    color: hotpink;
}

.container {
    width: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    background-color: #fff;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* background-color: lightblue; */
    height: auto;
}

.headerImage {
    width: 66%;
    height: auto;
}
.app {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.mainContainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    height: auto;
    align-items: center;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    font-weight: lighter;
    font-size: 14px;
}

h4 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    color: white;
    align-self: center;
    text-decoration: none;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    font-weight: lighter;
}

h5 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    color: white;
    align-self: center;
    text-decoration: none;
    font-size: 14px;
    font-family: "Courier New", Courier, monospace;
    /* font-weight: lighter; */
}

.goButton {
    align-self: center;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
    font-family: "Roboto", sans-serif;
}
.goButton:hover {
    color: white;
    background-color: hotpink;
    font-family: "Roboto", sans-serif;
}

.effort {
    width: 100%;
    font-family: "Courier New", Courier, monospace;
}
.inputField {
    width: 98%;
    font-family: "Courier New", Courier, monospace;
}

.time {
    width: 50%;
    font-family: "Courier New", Courier, monospace;
}

.input {
    /* background-color: lightgreen; */
    width: 50%;
    padding-top: 10px;
    padding-right: 5px;
}

.output {
    width: 50%;
    padding-top: 10px;
    padding-left: 5px;
}

.ui {
    width: 66%;
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    justify-content: center;

    /* height: auto;*/
    align-items: flex-start;
}

.windArrow {
    height: 12px;
    width: auto;
    color: white;
}
